body, html {
    margin:0;
    padding:0;
    scroll-behavior: smooth;
    /* font-size: 20px; */
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: #fcdab7;
}



ul{
    width:100%;
    height: 100%;
    display:grid;
    grid-template-columns: repeat(6, auto);
    grid-gap:10px;
    padding:0;
         
    
}

li{
    list-style:none;
    
}

.nav__a{
    color:white;
    text-align: center;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 30px;
    margin-top: 5px;
    
}




.container{
    background: linear-gradient(90deg, #a11550  0%, #ff698c 100% );
    border: 1px  solid black ;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    position: fixed;
    top:0;
    width: 100%;
    height:100px;
    z-index: 100;
    
        
}

.navbar{
    margin:0;
    width:100%;
     
    
}


#portada{
    padding:0;
    margin:0;
    width: 100%;
    /* height: 350px; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    /* object-fit: cover; */
    
    
    
}
#logo{
    width: 60px;
    height: 45px;
    margin-left: 10px; 
        
}



/* Container de todas las Cartas */
.cards{
    padding: 15px 0 85px 0;
    margin: auto;
    max-width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr );
    /* gap: 5px; */
    
}
/* Container de carta individual */
.card {
    margin: 6px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    border: 4px solid black;
    background-color: #da0657;
    outline: 4px inset #515568
    

}

/* Container de imagen de carta */

.card__image{
    padding:0%;
    margin:0%;
    width: 100%;
    display:block;
       
}

/* Container de texto */

.card__text {
    /* padding: 2px 16px; */
    text-align: center;
    font-family: 'Playfair Display', serif;
    color:#faf3dd;
    font-size: 20px;
    
}

h4{
    text-shadow: 4px 2px black;
    
}

h1{
    color:white;
    text-align: center;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 50px;
    
}

h3{
    color:white;
    text-align: center;
    
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 35px;
    margin:15px;
    

}

/* VIDEOS YOUTUBE */
.youtube{
    display: flex;
    align-content: center;
    justify-content:center ;
    margin: 5px;
    
    
}

.descripcion{
    margin:  auto;
    max-width: 700px;
    padding: 20px;    
}

/* seccion que es el power nine */
#sec-2{
    /* height: 100vh; */
    padding-bottom: 50px;
    
    background-color: #edc988;
    
    z-index: -1;
    
    
}

#sec-3{
    
    padding: 15px 0 25px 0;
    
    background-color: #edc988;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */
}

.contacto{
    width: 320px;
    height: 450px;
    padding: 20px;
    background-color: #f8efd4;
    box-sizing: border-box;
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.7);
   
    
}
}
label{
    width: 100%;
    font-size: 20px;
    
    
}
input{
    width:100%;
    height: 40px;
    border:none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px;
    
}
button{
    width:100%;
    height: 50px;    
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #133b5c;
    color:white;
    font-size: 15px;
}

textarea{
    width:100%;
    
    border:none;
    padding: 0 20px;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 15px;
}



/* Hovers */
.card:hover {
    box-shadow: 0 20px 30px 0 rgba(0,0,0,2);
    transform: translateY(-7px) translateX(3px);
   
}

a:active, a:hover{
    color: black;
}



/* FOOTER */
footer{
    background: linear-gradient(90deg, #a11550  0%, #ff698c 100% );
    order: 1px solid black ;
    width: 100%;
    margin:0;
    
}

/* Container Logos */

.container_uno{
    padding: 10px;
        
}
.container_dos{
    display: flex;
    flex-direction: column;
}

.container_logos{
    text-align: center ;
    padding: 15px;
}

/* Logos Footer */

#soundcloud{
    width: 4%;
    border-radius: 100%;
       

}

#gmail{
    width: 4%;
    
    margin: 10px

}

#wsp{
    width: 4%;
    

}

#git{
    width: 4%;
    margin-left:10px;
}


.copyright{
    margin:0;  
    text-align: center;
     
    
}
/* Dividers */


.divider
{
	position: relative;
	/* margin-top: 45px; */    
    height: 1px;
    margin:0;
    padding: 0;
}

.div-transparent:before
{
    margin:0;
    padding: 0;
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
    z-index: -1;
}





/* Queries */

@media screen and (max-width: 500px) {
   
    .nav__a{
        font-size: 25px;
    }
    ul{
        display:block;
    }
    li{
        width:100%;
        height:60%;
        
        
    }
    #portada{
        padding-top: 70%;
        
        
            
        
    }
    .container{
        height: 250px;
        width:100%;
        
        
    }
    .cards{
        display:block;     
        
        
    }
    .card{
        max-width: 60%;
        margin:auto;
        
        
    }
    .container_logos{
        display: grid;
        margin:0;
        padding: 0;
        
        
        
    }
    #git{
        margin-top: 5px;
        margin-left: 0;
        width: 35px;
        
    }
    #wsp{
        width: 35px
    }
    #gmail{
        width: 35px
    }
    
    #soundcloud{
        width: 35px;
        padding-top: 15px;
    }
    p{
       margin-left: 10px;
   }
    #sec-2{
    height: 150vh;
    }
    .contacto{
        width:250px;
    }
    
}
@media screen and (max-width: 1920px){
    #portada{
        height: 400px;
        object-fit: cover;
    }
}